<div class="custom-metacampus-footer">
    <div class="top-section">
        <div class="unite-logo">
            <a href="https://www.unite-university.eu/">
                <img src="{{{ output.wwwroot }}}/theme/metacampus/pix/logos/unite_full_logo.png">
            </a>
        </div>
        <div class="unite-links row">
            <div class="col-6">
                <a href="mailto:unite.metacampus@upc.edu">Contact</a>
            </div>
            <div class="col-6">
                <a href="{{{ output.wwwroot }}}/admin/tool/policy/view.php?policyid=4&versionid=5">Legal notice</a>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="logos">
            <a href="https://www.tu-darmstadt.de/" title="" class="logo"><img src="{{{ output.wwwroot }}}/theme/metacampus/pix/logos/01_Unite_Technical University of Darmstadt_RGB.png"></a>
            <a href="https://www.aalto.fi/" title="" class="logo"><img src="{{{ output.wwwroot }}}/theme/metacampus/pix/logos/02_Unite_Aalto University_RGB.png"></a>
            <a href="https://www.grenoble-inp.fr/" title="" class="logo"><img src="{{{ output.wwwroot }}}/theme/metacampus/pix/logos/03_Unite_Grenoble INP-UGA_RGB.png"></a>
            <a href="https://www.kth.se/" title="" class="logo"><img src="{{{ output.wwwroot }}}/theme/metacampus/pix/logos/04_Unite_KTH Royal Institute of Technology_RGB.png"></a>
            <a href="https://www.polito.it/" title="" class="logo"><img src="{{{ output.wwwroot }}}/theme/metacampus/pix/logos/05_Unite_Politecnico di Torino_RGB.png"></a>
            <a href="https://www.ulisboa.pt/" title="" class="logo"><img src="{{{ output.wwwroot }}}/theme/metacampus/pix/logos/06_Unite_Universidade de Lisboa_RGB.png"></a>
            <a href="https://www.upc.edu/" title="" class="logo"><img src="{{{ output.wwwroot }}}/theme/metacampus/pix/logos/07_Unite_Universitat Politècnica de Catalunya BarcelonaTech UPC_RGB.png"></a>
        </div>
        <div class="float-right eu-logos">
            <img width="" src="{{{ output.wwwroot }}}/theme/metacampus/pix/logos/EU_ERASMUS_grey.png">
            <img src="{{{ output.wwwroot }}}/theme/metacampus/pix/logos/EU_HORIZON_2020_grey.png">
        </div>
    </div>
</div>
